Practica 8_Dificultad_Baja.json
{
  "name": "Practica 8_Dificultad_Baja",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "task_create",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "42e64dd6-f7cc-41c6-8521-0ecb7b5a7043",
      "name": "Webhook",
      "webhookId": "67981ecc-fae1-4ea5-bf19-efe6726c809f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "211e8a76-dc12-4c7f-b021-a225936ed45e",
              "leftValue": "={{$json.body.title}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "9aa40a88-4b5b-46df-a583-f02f6d62eea7",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "Bad Request: title is required"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        416,
        96
      ],
      "id": "19947d35-e46c-4940-a030-bd37e98fa71d",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "queue": "task_created",
        "sendInputData": false,
        "message": "={\n  \"id\": {{$node[\"CreateTask\"].json.id}},\n  \"title\": \"{{$node[\"CreateTask\"].json.title}}\",\n  \"description\": \"{{$node[\"CreateTask\"].json.description}}\",\n  \"done\": {{$node[\"CreateTask\"].json.done}}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        624,
        -96
      ],
      "id": "b2fc9d18-63ea-4a60-8d84-535f9e9d4e9c",
      "name": "RabbitMQ",
      "credentials": {
        "rabbitmq": {
          "id": "VztSWq1HxAzuSFzM",
          "name": "RabbitMQ-ENV"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"task\": {\n    \"id\": {{$node[\"CreateTask\"].json.id}},\n    \"title\": \"{{$node[\"CreateTask\"].json.title}}\",\n    \"description\": \"{{$node[\"CreateTask\"].json.description}}\",\n    \"done\": {{$node[\"CreateTask\"].json.done}}\n  }\n}\n",
        "options": {
          "responseCode": 201
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        832,
        -96
      ],
      "id": "048df68d-2fcc-4239-bec5-8d63767cc866",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "task",
          "mode": "list",
          "cachedResultName": "task"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "done": false,
            "title": "={{$json.body.title}}",
            "description": "={{$json.body.description || ''}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "done",
              "displayName": "done",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "outputColumns": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        -96
      ],
      "id": "6faf58e0-18ff-4e98-ab3c-91bfa1c8362d",
      "name": "CreateTask",
      "credentials": {
        "postgres": {
          "id": "spJHdT0afzgJBgsZ",
          "name": "PostgreSQL-ENV"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "CreateTask",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RabbitMQ": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateTask": {
      "main": [
        [
          {
            "node": "RabbitMQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c7f61f09-2a83-44fc-804b-d133a276a760",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "80841af0639bad97c2a6d772867bbab7391bbf92ee379d7771d9626a9066fdc9"
  },
  "id": "yWOeINR7knesOoYR",
  "tags": []
}